<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>View Circuit</title>
  <link rel="stylesheet" href="view.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>
  <div class="container">
    <h1 id="circuit-title">Circuit Name</h1>
    <div id="circuit-details"></div>

    <div class="bottom-buttons">
      <button onclick="editCircuit()">✏️ Edit</button>
      <button onclick="startCircuit()">▶️ Start</button>
    </div>
  </div>
  <script src="view.js"></script>
</body>
</html>
